body{
    background-color: rgb(255, 180, 232);
    color: rgb(241, 36, 241)
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 200px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 20px;
}
