body{
    background-color: rgb(255, 180, 232);
    color: rgb(241, 36, 241)
}



header{
    border: solid 2px rgb(241, 36, 241);
}
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 100px;
}


    .categoria-videos{
        display: flex;
        overflow-x:auto;
        gap: 20px;
    }
header {
    border-bottom: solid 2px rgb(255, 0, 170);
    padding: 20px;
}header {
    border-bottom: solid 2px rgb(255, 0, 234);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 221);
}

